/***** Bolica Web Design - Ahmed Bolica - www.Bolica.net ******/

/**** Main Style *****/

/* Fonts used  */

@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);


@font-face {
    font-family: "Socialico";
    src: url("../fonts/Socialico.eot?") format("eot"), url("../fonts/Socialico.woff") format("woff"), url("../fonts/Socialico.ttf") format("truetype"), url("../fonts/Socialico.svg#Socialico") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Conmen Style  */

* {
    text-decoration: none !important;
    -webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
ul,
ol {
    padding: 0px;
}
/* html {
    background-color: #F7F8F8;
    background-image: url(../images/patterns.png);
    background-position: 50% 50%;
    background-repeat: repeat repeat;
}
 */
.allHeight {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #fff;
    background-image: url(../images/patterns2.png);
    background-position: 50% 50%;
    background-repeat: repeat repeat;
    background-color: transparent;
    //direction: ltr;
	font-family: 'Lato', sans-serif !important;
    font-size: 14px !important;
    line-height: 22px !important;
    overflow-x: hidden;
}
.round {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.container {
    position: relative;
}
.no-pad {
    padding: 0px !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Droid Sans', sans-serif;
	font-weight:bold;
    color: #2D547D;
}
h1,
h2,
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
textarea,
select {
    background-color: #F3F3F3;
    color: #999;
}

input[type="text"],
textarea,
select,
.formInput {
    border: 0;
    padding: 5px 10px;
    outline: none;
    margin: 0;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
    background-image: url("../images/pattern_form.png");
}
.formInput:focus {
    background: #DDE8EE;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: none;
    z-index: 1;
    cursor: pointer;
    text-transform: uppercase;
    background-image: url("../images/pattern_slashes_3.png");
    background-color: #1E6CA3;
    color: #fff;
    border: 0;
}

.btn:hover {
    background-color: #2D547D;
    color: #fff;
}

.right {
    float: right !important;
}

#wrapper {
    margin: 0;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
}

#wrapper.container {
	margin: 0px auto;
	padding:0px;
	margin-top:20px;
}

/* Header */

.headerMeta {
    float: right;
	padding-right:30px;
}
.header {
    position: relative;
}
.header .logo {
    margin: 20px 0px 20px 30px;
    text-align: left;
}
.headerLog {
    position: relative;
    top: 30px;
    text-align: right;
}
.headerLog a {
	font-family: 'Lato', sans-serif;
    margin-left: 10px;
}

.headerLog button{
    border:none ;
    background:none ;
}

.headerLog button:focus{
outline: none;
}

.header .social {
    z-index: 203;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("../images/pattern_slashes_10.png");
    background-color: #2D547D;
    font-family: "Socialico";
}
.social ul {
    padding: 0px;
}
.social li {
    display: block;
    float: right;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.social li a {
    width: 32px;
    height: 60px;
    line-height: 60px;
    font-size: 23px;
    text-align: center;
    font-family: "Socialico";
    display: block;
    text-decoration: none;
    transition: opacity .20s ease-in-out;
    -o-transition: opacity .20s ease-in-out;
    -moz-transition: opacity .20s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
    color: #FFF;
}
.social li a:hover {
    background: rgba(0, 0, 0, 0.1);
}
.header .search {
    z-index: 203;
    font-size: 13px;
    float: right;
    position: relative;
    top: 50px;
}
.header #searchform input[type="text"] {
    width: 80%;
    float: right;
    margin: 0;
    font-size: 12px;
    padding: 10px;
    -webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
.header #searchform .ico {
    position: absolute;
    right: 10%;
    width: 24px;
    height: 24px;
    margin-left:12px;
    margin-top: 5px;
    overflow: hidden;
    background: url(../images/ico_search.png) no-repeat center center;
    border: none;
    top: 5px;
    outline: none;
}
.header #searchform input[type="text"]:focus {
    width: 100%;
}
/* Nav */
#nav {
    background-color: #3D9BDD;
    display: block;
    width: 100%;
    z-index: 202;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    background-image: url("../images/pattern_slashes_3.png");
    position: relative;
    float: left;
}
.nav>li {
    margin: 0;
    z-index: 203;
    display: block;
    float: left;
    min-width: 110px;
}
.nav > li a {
    color: #FFF !important;
    text-shadow: none;
    line-height: 30px;
    font-size: 19px;
    text-align: center;
    border-left: 1px solid rgba(18, 65, 187, 0.2);
    font-family: 'Droid Sans', sans-serif;
}
.nav > li > a:hover,
.nav>li.hover>a {
    background: #2D547D;
    color: #FFF !important;
}
.nav > li ul {
    background: #FFF;
    list-style: none;
}
.nav li ul {
    z-index: 205;
    margin: 0;
    display: none;
    padding: 0px;
    position: absolute;
    min-width: 150px;
}
.nav li ul li {
    padding: 0 0;
    position: relative;
    font-weight: normal;
}
.nav li ul li a {
    padding: 7px 15px;
    font-size: 13px;
    display: block;
    border-style: solid;
    color: #000 !important;
	font-family: 'Lato', sans-serif;
    border: none;
    border-bottom: 1px solid #DBDBDB;
    width: 100%;
    text-align: left;
}
.nav > li ul li a:hover,
.nav > li ul li.hover>a {
    background: rgba(0, 0, 0, 0.05);
}
.navbar-collapse {
    padding-left: 0px;
}
.navbar-toggle {
    float: right;
    margin-right: 15px;
    background: #1E6CA3;
    color: #FFF;
}
.navbar-toggle .icon-bar {
    background: #FFF;
}
.act-men {
    background: #2D547D !important;
}


.headImg {
    height: 200px;
    background: url("../images/homeBn.jpg") center center no-repeat;
    background-size: cover;
	margin-bottom:20px;
}
.headImg h1 {
    color: #fff;
    line-height: 180px;
}
.headImg .headInfo {
    display: table-cell;
    vertical-align: middle;
	padding-left: 30%;
}

/* Slider */
#owl-demo .owl-item img {
    display: block;
    width: 100%;
    height: auto;
}
.owl-theme .owl-controls {
    margin-top: -30px !important;
    text-align: center;
}
.owl-carousel.container{
	padding:0px !important;
}

.owl-carousel * {
    direction: ltr !important;
}
.leftBlock h2 {
    margin-bottom: 15px;
}
.leftBlock {
    padding-top: 20px;
}


.homeMain {
    background: #fff;
}
.albums img {
    margin-top: 20px;
}

.homeMain .container {
    padding: 30px;
	padding-top:0px;
} 


.otherPro,
.eventMeta,
.articleMeta,
.semiMeta,
.advsearch{
    background: #F8F8F8;
    padding: 20px;
    border-top: 2px solid #2F668D;
    margin-bottom: 5px;
    margin-top: 5px;
}
.seminar-pg .rating {
    width: 100%;
    float: left;
}
.seminar-pg .list-cat {
    font-size: 16px;
}
.seminar-pg .list-cat span {
    font-size: 16px;
}
.otherPro p {
    text-align: justify;
}
.homeBlock {
    padding: 20px;
    background: #F3F2F0;
}
.homeBlock img {
    margin-bottom: 5%;
}
.homeBlock h2 {
    margin-bottom: 5%;
}
.actionPic {
    background-image: url("../images/homeBn.jpg");
    margin-top: 15px;
    margin-bottom: 15px;
    border: 5px solid #2D547D;
    text-align: center;
    padding: 15px;
}
.actionPic h1 {
    color: #fff;
    margin-bottom: 2%;
	font-size: 28px;
}
.actionPic .btn {
	font-family: 'Lato', sans-serif;
}
#latestAct {
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}
#latestAct h3 {
    text-align: left;
    color: #666;
}
#latestAct .owl-pagination {
    position: absolute;
    top: 0px;
    right:0px;
}
.faq {
    padding: 8px;
    background: #F7F7F7;
    margin-top: 20px;
}
.faq h3 {
    color: #555;
    position: relative;
    padding-left: 20px;
}
.faq h3:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 0.3);
    background: #2C2222;
}
#Grid .mix {
    opacity: 0;
    display: none;
}
#Grid li {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
}
#Grid li:hover {
    background: #FDFDFD;
}
.subtitle {
    color: #193D74;
	font-family: 'Lato', sans-serif;
    font-weight: bold;
}
/*Event Page*/

.eventMeta p,
.eventMeta ul {
    color: #555;
    padding-right: 20px;
    font-weight: bold;
}
.eventMeta .widgt {
    background: #FAFAFA;
    padding: 5px;
    margin-bottom: 15px;
}
.widgt-tags li {
    display: inline-block;
}
.widgt-tags li a {
    color: #555;
	font-family: 'Lato', sans-serif;
}
.author-box {
    background: rgba(0, 0, 0, 0.03);
    padding: 20px;
    position: relative;
    display: inline-block;
    margin-top: 30px;
}
.author-box .avatar {
    float: right;
    margin-left: 20px;
}
.author-box .avatar img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #C7C7C7;
}
.author-box .desc-wrapper {
    padding: 20px;
}
.author-box .desc-wrapper h5 {
    margin-top: 0px;
}
/*Post Meta*/

.post-meta {
    margin-top: 30px;
    position: relative;
    display: inline-block;
    width: 100%;
}
.post-meta span {
    display: inline-block;
    float: left;
    line-height: 40px;
    font-weight: bold;
}
/*Share icons */

.list-share li {
    display: inline-block;
    width: 34px;
    margin-left: 5px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.list-share li.auto {
    width: auto;
}
.list-share li.facebook {
    background: #2960A3;
}
.list-share li.twitter {
    background: #00C3F3;
}
.list-share li.google {
    background: #D94E31;
}
.list-share li a {
    font-family: "Socialico";
    font-size: 25px;
    font-weight: normal;
    text-indent: 0;
    line-height: 35px;
    color: #FFF;
}
/* Rating */

.rating {
    top: 12px;
    margin-left: 50px;
    float:left;
}
.rating-input {
    position: absolute;
    left: 0;
    top: -50px;
    display: none;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    margin: 12px 5px;
    background: url("../images/star.png") 0 -16px;
}
.nxt-evn {
    margin-top: 25px;
}
.nxt-evn p {
    padding-left: 60px;
}
.nxt-evn a {
    font-size: 18px;
}
.event-list {
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(248, 248, 248, 0.31);
    padding-bottom: 20px;
}
.event-list .list-meta {
    float: left;
    margin-top: 15px;
    width: 18%;
}
.event-list .list-meta .date {
    position: relative;
}
.event-list .list-meta .date span {
    font-size: 12px;
}
.article .list-meta .date span,
.seminar .list-meta .date span {
    font-size: 12px;
}
.event-list .list-img {
    width: 80%;
    float: right;
}
.event-list .list-user,
.list-cat {
    text-align: center;
    color: #2D547D;
    font-size: 20px;
}
.event-list .list-user span,
.list-cat span {
    font-size: 30px;
    margin: 0px auto;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    color: #555;
}
.event-list .subtitle {
    clear: both;
}
/*Event date*/

.date {
    position: absolute;
}
.date p {
    font-size: 30px;
    text-align: center;
    color: #FFF;
    padding: 0px;
    background: #9B9090;
    padding-top: 9px;
}
.date p span {
    background: #2D547D;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: block;
    margin-top: 6px;
    padding: 3px;
}
.grid-filter li {
    display: inline-block;
}
.grid-filter .filter.active {
    background: #2D547D;
}
.footer_line .container {
    overflow: hidden;
}
.footer_line .container {
    background: #3D9BDD;
}
.footer_line .container .line {
    width: 25%;
    height: 7px;
    float: left;
}
.footer_line .container .line.line_2 {
    background: rgba(0, 0, 0, 0.12);
}
.footer_line .container .line.line_3 {
    background: rgba(0, 0, 0, 0.24);
}
footer .widget {
    padding: 25px;
}
.socialW ul {
    padding: 0px;
}
.socialW li {
    display: inline-block;
    list-style: none;
    margin: 10px 0px 10px 1%;
}
.socialW li img {
    width: 40px;
    height: 40px;
}
.copyrights {
    text-align: center;
    font-size: 15px;
}
/* .copyrights img {
    margin-bottom: 15px;
} */
.copyrights a {
    font-family: tahoma;
    color: #555;
}
.footer_menu .container {
    background: url(../images/divider.png) repeat-x left top;
    padding: 25px 0;
}
.footer_menu ul li {
    display: inline-block;
    border-right: 1px dashed rgba(0, 0, 0, 0.2);
}
.footer_menu ul {
    float: left;
}
.footer_menu ul li a {
    text-transform: uppercase;
    padding: 3px 17px;
	margin-left:6px;
	margin-right:6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: normal;
}
.footer_menu ul li a,
.copyright,
.copyright a {
    color: #98A3AB;
    text-decoration: none;
}
.footer_menu ul li.current-menu-item a,
.footer_menu ul li a:hover {
    background: rgba(0, 0, 0, 0.04);
}
.footer_menu ul li:last-child {
    border-right: 0;
}
.lang {
    background: url(../images/ico_lang.png) no-repeat right center;
    padding-right: 30px;
    text-align: right;
    float: right;
    margin-left: 20px;
    display: inline-block;
}
.lang a {
    color: #555;
    font-family: Tahoma;
    font-weight: bold;
}
#partner {
    margin-bottom: 20px;
}
#partner .item {
    margin: 10px;
}
#partner .owl-pagination {
    display: none;
}
#testimonial {
    text-align: center;
}
#testimonial img {
    max-width: 300px;
    margin: 0px auto;
    position: relative;
    margin-bottom: 20px;
}
#testimonial .owl-controls {
    position: relative;
    margin-top: 30px !important;
}
#testimonial span {
    color: #555;
    font-weight: bold;
    font-style: italic;
}
#latestAct.owl-theme .owl-controls .owl-page span,
#testimonial.owl-theme .owl-controls .owl-page span {
    background-color: #555 !important;
}
#testimonial.owl-theme .owl-controls .owl-page.active span,
#testimonial.owl-theme .owl-controls.clickable .owl-page:hover span,
#latestAct.owl-theme .owl-controls .owl-page.active span,
#latestAct.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #2D547D !important;
}
.article .date,
.seminar .date {
    position: relative;
}
.article .list-meta,
.seminar .list-meta {
    float: left;
    width: 10%;
    padding-right: 10px;
}
.article .arcle-p,
.seminar .arcle-p {
    width: 90%;
    padding-left: 10px;
    border-left: 2px solid #E4E4E4;
    float: left;
    margin-bottom: 20px;
}

.ulbiglist{
    padding:30px;
    padding-top:0px;
    font-size:18px;
    line-height:26px;
    

}

.ulbiglist li{
    list-style-type:square;
    

}

.searchPage{
    padding-bottom: 20px;
    height: 100%;
    overflow: hidden;
}


/*Model*/

.bs-modal-signin .modal-dialog{
    margin-top:20%;

}

.bs-modal-signup .modal-dialog{
    margin-top:18%;

}

.bs-modal-signin .modal-content,.bs-modal-signup .modal-content{
    padding: 20px;
    height: 100%;
    overflow: hidden;
    width: 75%;
    margin: 0px auto;
    border-radius: 3px;
    border-top: 5px solid #2D547D;
}


body.modal-open {
    overflow: hidden;
}


/* 404 style  */
.notice-wrap{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;     
}


/* maintainance style  */
.mainSocial{
    text-align: center;
}

.maintLogo{
    margin: 0 auto;
    text-align: center;
}


/* coming soon style  */

.soonbg{
    background: #fafafa;
}

.soonimg{
    margin: 0 auto;
    display: block;
}


/* donation style  */
.payment{
    display: block;
    margin: 15px auto;
}

.onform {
    padding: 20px;
    border: 1px dotted #E9E9E9;
}

.pay-wrap {
    padding-top: 30px;
}

.pay-wrap{
    margin-bottom: 40px;
}

.paypal{
    display: block;
    margin: 20px 10px;    
}

.chk-wrap{
    display: inline-block;
}

.checkAddr { 
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
    line-height: 1.8;
    direction: ltr;
    padding: 15px 15px 15px 35px;
    background: #FAF9F5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border-top: 2px dotted #EEEEEE;     
    -webkit-box-shadow: 0px 1px 0px #E6E6E6,0px -1px 0px #E6E6E6;
    -moz-box-shadow: 0px 1px 0px #E6E6E6,0px -1px 0px #E6E6E6;
    box-shadow: 0px 1px 0px #E6E6E6,0px -1px 0px #E6E6E6;
}

.check-header{
    margin-top: 40px;
}

.def-input{  
    border: 0;
    padding: 5px 10px;
    outline: none;
    margin: 0;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
    background-image: url("../images/pattern_form.png"); 
}

.donval{
    color: #2D547D;
    padding-top: 10px;
}

.don-submit{
    margin-top: 10px;
	float:right;
}

.recspan{    
    padding-left: 10px;
    display: inline-block;
    margin-top: 16px;
}


.donated{
    padding: 20px 20px 20px 20px;
    border: 1px dotted #efeeee;
}

 

.method:before{
    background: #CBE1F7;
    color: #fff;
    display: inline-block;
    padding: 5px;
    margin-right: 6px;
    border-radius: 3px;
}

.no1:before{
    content: '1';
}

.no2:before{
    content: '2';
}

.no3:before{
    content: '3';
}





/* All media  */

/* Landscape phones and down */

@media (min-width: 480px) {}@media (min-width: 200px) and (max-width: 1000px) {}@media (min-width: 770px) and (max-width: 999px) {}@media (min-width: 1020px) and (max-width: 1250px) {}@media (min-width: 420px) and (max-width: 785px) {}
/*iPad in landscape */

@media (min-width: 990px) and (max-width: 1199px) {
    .header #nav {
        height:auto;
    }
    .nav > li a {
        background-image:none;
        font-size:16px;
    }
    .nav>li {
        min-width:80px;
    }
	.headerMeta {
		padding-right:10px;
	}
}
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 990px) {
    .header #nav {
        height:auto;
    }
    .nav > li a {
        background-image: none;
        padding: 5px;
        font-size: 15px;
    }
    .nav>li {
        min-width: 80px;
    }
}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .header #nav {
        height: auto;
    }
    .header .nav>li {
        float: none;
    }
    .nav li ul {
        position: relative;
    }
    .navbar-collapse {
        max-height: 600px;
    }
    .nav > li a,
    .nav > li ul li a {
        text-align: left;
        padding-left: 30px;
    }
    .grid-filter li {
        display: block;
        margin-bottom: 10px;
    }
    .footer_menu ul {
        float: none;
        text-align: center;
    }
    .lang {
        float: none;
        width: 100px;
        margin: 0px auto;
        position: relative;
        display: block;
    }
}
/* portrait iphones 5*/

@media (min-width: 480px) and (max-width: 568px) {
    .article .arcle-p,
    .seminar .list-meta {
        width: 87%;
    }
    .article .list-meta,
    .seminar .list-meta {
        width: 13%;
    }
}
/* Landscape phones and down */

@media (max-width: 480px) {
    .author-box .desc-wrapper {
        float: none;
    }
    .article .arcle-p,
    .seminar .arcle-p {
        float: none;
        width: 100%;
        padding-right: 0px;
        border: 0px;
        padding-top: 25px;
    }
}
/* portrait iphone  */

@media (max-width: 320px) {
    .author-box .avatar {
        float: none;
        margin-left: 0px;
        text-align: center;
    }
    .author-box .desc-wrapper {
        float: none;
    }
    .article .list-meta,
    .seminar .list-meta {
        float: none;
        width: 100%;
        padding-left: 0px;
    }
    .article .date,
    .seminar .date {
        position: absolute;
    }
}
/* Landscape phones and down */

@media (max-width: 990px) {
    .header .logo {
        text-align: center;
        margin: 10px 0px 40px 0px;
    }
    .headerMeta {
        float: none;
    }
    .header .search {
        float: none;
        position: relative;
        top: -20px;
    }
    .header .social {
        position: relative;
        text-align: center;
        width: 50%;
        margin: 0px auto;
        font-size: 0px;
        background: rgba(0, 0, 0, 0);
        top: -104px;
        height: 100%;
        overflow: hidden;
    }
    .header .social li {
        display: inline-block;
        float: none;
        border: none;
    }
    .header .social li a {
        height: 40px;
        line-height: 40px;
    }
    .header #searchform .ico {
        right: 5%;
    }
    .headerLog {
        top: 70px;
        text-align: center;
    }
    footer .widget {
        text-align: center;
    }
    .socialW li {
        margin: 1%;
    }
    .header #searchform input[type="text"] {
        width: 100%;
    }
    .social li a {
        color: #1E6CA3;
    }
    .widget form .btn {
        float: none;
        width: 100% !important;
    }
    .fromPro img {
        text-align: center;
        margin: 0px auto;
        margin-bottom: 10px;
    }
    .homeBlock {
        height: 100%;
        overflow: hidden;
    }
    #latestAct .owl-pagination {
        position: absolute;
        top: -45px;
    }
}