 <!-- #footer -->
    <footer>
        <div class="footer_line">
            <div class="container">
                <div class="line line_1"></div>
                <div class="line line_2"></div>
                <div class="line line_3"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 widget">
                    
                </div>	
                <div class="col-md-4 copyrights widget">
                    <img class="" src="$images_folder/logof.png" alt="" />
                    #if($language == "ar_SA")
	                    <div>
	                        2014 جميع الحقوق محفوظة
	                        <br/>
	                        مؤسسة علماء مصر
	                    </div>
                    #else 
                    	<div>
	                        All rights reserved 2014
	                         <br/>
	                   		Egypt Scholars Inc.                 		
                   		</div>                    
                    #end

                </div>
                <div class="col-md-4 socialW widget">
                    #if($language == "ar_SA")
                    	<h3>كن على اتصال</h3>
                    #else 
                    	<h3>Stay updated</h3>
                    #end
                    <ul class="">
                        <li class="">
                            <a href="https://www.facebook.com/EgyptScholars" target="_blank">
                                <img src="$images_folder/fb.png" />
                            </a>
                        </li>
                        <li class="">
                            <a href="https://twitter.com/EgyptScholars" target="_blank">
                                <img src="$images_folder/tw.png" />
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.linkedin.com/company/egypt-scholars-inc-" target="_blank">
                                <img src="$images_folder/li.png" />
                            </a>
                        </li>
                        <li class="">
                            <a href="https://plus.google.com/+EgyptScholarsInc" target="_blank">
                                <img src="$images_folder/gp.png" />
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.youtube.com/egyptscholars" target="_blank">
                                <img src="$images_folder/yt.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="footer_menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    	## ---------- Footer Custom Field ---------- ##
						#set ($customFieldName = "footer-navigation")
						
						#if ($layout.getExpandoBridge().hasAttribute($customFieldName) == false)
						     #set($VOID = $layout.getExpandoBridge().addAttribute($customFieldName, 1, false))
						#end
                        <!-- #menu -->
                  		 #parse ("$full_templates_path/footer_navigation.vm")

                        <div class=" lang">
                        
	                         #set($availableLocales = $languageUtil.getAvailableLocales())
							 #set($selectedLanguageIds=[])
							 #foreach( $availableLocale in $availableLocales )
							     #if($locale != $availableLocale) 
							         #set($VOID = $selectedLanguageIds.add($availableLocale))
							     #end
							 #end
							 $theme.language("fm", null, "languageId",$arrayUtil.toStringArray($selectedLanguageIds.toArray()),1)
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </footer>