<ul class="menu">
		#foreach ($nav_item in $nav_items)
            #if($nav_item.getLayout().getExpandoBridge().getAttribute($customFieldName))
	            <li>
					<a href="$nav_item.getURL()" $nav_item.getTarget()>$nav_item.getName()</a>
				</li>
				 
			#end
			#foreach ($nav_child in $nav_item.getChildren())
	             #if($nav_child.getLayout().getExpandoBridge().getAttribute($customFieldName))
		              <li>
		                   <a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
		              </li>
		         #end
	         #end
        #end
</ul>
   
 